<div id="manual"><h2>How it works</h2>
	<p>Padibility recognizes that finding a place to stay should not and cannot occur independently of finding a person to room with. Padibility uses a data-driven compatibility matching algorithm to match those with "pads" and are looking for roommates with those seeking them, and vice-versa:</p>
<ol>
<li>Fill out a brief questionnaire about yourself and your ideal or current pad.</li>
<li>Receive recommendations and browse the profiles of pad seekers or pad owners who best fit your 
needs.</li> 
<li>Once you are interested in discussing the possibility of living with someone, send them a Request. 
They will be notified of your invite and upon acceptance, you can chat further.</li>
<li>Confirm your roommate selection or Pass and keep on browsing!"</li>
</ol></div>
