{% load pages_tags i18n future %}

{% spaceless %}
<div class="collapse navbar-collapse" id="top-menu">
<!--div class="top-menu"-->
  <ul class="nav navbar-nav pull-right hidden">
      <li class="signin">
        <a href="#">SIGN-IN</a>
      </li>
      <li class="signup">
        <a href="#">SIGN-UP</a>
      </li>
  </ul>
  <ul id="primary-menu" class="nav navbar-nav pull-right">
      {% for page in page_branch %}
      {% if page.in_menu %}
        <li id="primary-menu-{{ page.html_id }}"
            class="{% if page.is_current_or_ascendant %}active{% endif %}{% if forloop.last %} last{% endif %}">
            <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
        </li>
      {% endif %}
      {% endfor %}
  </ul>
  </div>
</div>
{% endspaceless %}
